
<!DOCTYPE html>
<html lang="en">

<head>

  <!--meta tags-->
  <meta charset="UTF-8">
  <meta name="description" content="Services Listing HTML5 CSS3 template">
  <meta name="keywords" content="HTML,CSS,XML,JavaScript, services, listing">
  <meta name="author" content="Ui-DesignLab">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--end meta tags-->

  <title>Predict ETHSF</title>

  <!--stylesheets-->
  <link rel="stylesheet" href="3rdparty/css/bootstrap.min.css">
  <link rel="stylesheet" href="3rdparty/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="3rdparty/css/animate.min.css">
  <link rel="stylesheet" href="3rdparty/jquery-nice-select-1.1.0/css/nice-select.css">
  <link rel="stylesheet" href="3rdparty/OwlCarousel2-2.2.1/owl.carousel.min.css">
  <link rel="stylesheet" href="3rdparty/OwlCarousel2-2.2.1/owl.theme.green.min.css">
  <link rel="stylesheet" href="css/app.css">
  <!--end stylesheets-->

  <!--google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Quicksand:700|Raleway|Tangerine" rel="stylesheet">
  <!--end google fonts-->

  <style>
    .eth_info{

    }
  </style>

</head>
<body>

<!--banner-->
<div class="landing-banner">
  <nav class="banner-menu">
    <div class="banner-logo"><a href="#">predict ethsf</a></div>
    <div class="start-here">
      <a href="pricing.html" class="btn ui-btn info">Register</a>
    </div>
  </nav>

  <div class="banner-content">
    <h1 class="banner-title">Put your ETH where your mouth is</h1>
    <p>Stake on who will win ETH SF</p>

  </div>

</div>
<!--end banner-->

<!--connecting people-->
<div class="connect">
  <div class="row">
    <div class="col-lg-4 col-md-4">
      <div class="connect-img">
        <img src="img/481x481.png" alt="">
      </div>
    </div>
    <div class="col-lg-8 col-md-8">
      <div class="connect-info">
        <h3>Take The First Step, move forward.</h3>
        <p>
          Bacon ipsum dolor amet cow salami pork pastrami.
          Pork loin beef ribs drumstick t-bone kielbasa chuck.
          Bresaola meatball ribeye pig doner boudin. Meatloaf rump spare ribs,
          salami drumstick corned beef ball tip jerky frankfurter.
          Short ribs cow pork chop pancetta sausage jerky bresaola
          frankfurter swine ribeye pork loin. Leberkas ham shankle chicken.
          <br>
          <br>
          Pork loin beef ribs drumstick t-bone kielbasa chuck.
          Bresaola meatball ribeye pig doner boudin. Meatloaf rump
        </p>
      </div>
    </div>
  </div>
</div>
<!--end connecting people-->

<div class="content-wrapper">

  <h3 class="text-center">Projects</h3>

  <!--listings-->
  <div class="listings">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="listing-item">
          <div class="cover-img">
            <img src="img/500x281.png" alt="">
            <div class="cover-hover">
            </div>
          </div>
          <div class="listing-info">
            <div class="details">
              <strong>Predict ETHSF</strong>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              </p>
                <i class="fa fa-link"></i> <em>https://www.predictethsf.com</em>
            </div>
            <div class="bottom-details">
              <div class="rating-stars">
                <h1 style="margin-bottom:0">12%</h1>
                <p style="margin-bottom:0.5em;">implied win</p>
                <p style="margin-bottom:0;margin-top:0em;font-size:.8em;font-style:italic"><strong>1.2 ETH</strong> staked</p>
                <p style="font-size:.8em;font-style:italic">from <strong>7 accounts</strong></p>
              </div>
              <div class="rating-stars">
                <input type="text" id="tags" class="form-control" placeholder="0.0 ETH">
                <button class="btn ui-btn dark-blue">Stake</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="listing-item">
          <div class="cover-img">
            <img src="img/500x281.png" alt="">
            <div class="cover-hover">
            </div>
          </div>
          <div class="listing-info">
            <div class="details">
              <strong>Predict ETHSF</strong>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              </p>
                <i class="fa fa-link"></i> <em>https://www.predictethsf.com</em>
            </div>
            <div class="bottom-details">
              <div class="rating-stars">
                <h1 style="margin-bottom:0">12%</h1>
                <p style="margin-bottom:0.5em;">implied win</p>
                <p style="margin-bottom:0;margin-top:0em;font-size:.8em;font-style:italic"><strong>1.2 ETH</strong> staked</p>
                <p style="font-size:.8em;font-style:italic">from <strong>7 accounts</strong></p>
              </div>
              <div class="rating-stars">
                <input type="text" id="tags" class="form-control" placeholder="0.0 ETH">
                <button class="btn ui-btn dark-blue">Stake</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="listing-item">
          <div class="cover-img">
            <img src="img/500x281.png" alt="">
            <div class="cover-hover">
            </div>
          </div>
          <div class="listing-info">
            <div class="details">
              <strong>Predict ETHSF</strong>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              </p>
                <i class="fa fa-link"></i> <em>https://www.predictethsf.com</em>
            </div>
            <div class="bottom-details">
              <div class="rating-stars">
                <h1 style="margin-bottom:0">12%</h1>
                <p style="margin-bottom:0.5em;">implied win</p>
                <p style="margin-bottom:0;margin-top:0em;font-size:.8em;font-style:italic"><strong>1.2 ETH</strong> staked</p>
                <p style="font-size:.8em;font-style:italic">from <strong>7 accounts</strong></p>
              </div>
              <div class="rating-stars">
                <input type="text" id="tags" class="form-control" placeholder="0.0 ETH">
                <button class="btn ui-btn dark-blue">Stake</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="listing-item">
          <div class="cover-img">
            <img src="img/500x281.png" alt="">
            <div class="cover-hover">
            </div>
          </div>
          <div class="listing-info">
            <div class="details">
              <strong>Predict ETHSF</strong>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              </p>
                <i class="fa fa-link"></i> <em>https://www.predictethsf.com</em>
            </div>
            <div class="bottom-details">
              <div class="rating-stars">
                <h1 style="margin-bottom:0">12%</h1>
                <p style="margin-bottom:0.5em;">implied win</p>
                <p style="margin-bottom:0;margin-top:0em;font-size:.8em;font-style:italic"><strong>1.2 ETH</strong> staked</p>
                <p style="font-size:.8em;font-style:italic">from <strong>7 accounts</strong></p>
              </div>
              <div class="rating-stars">
                <input type="text" id="tags" class="form-control" placeholder="0.0 ETH">
                <button class="btn ui-btn dark-blue">Stake</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="listing-item">
          <div class="cover-img">
            <img src="img/500x281.png" alt="">
            <div class="cover-hover">
            </div>
          </div>
          <div class="listing-info">
            <div class="details">
              <strong>Predict ETHSF</strong>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              </p>
                <i class="fa fa-link"></i> <em>https://www.predictethsf.com</em>
            </div>
            <div class="bottom-details">
              <div class="rating-stars">
                <h1 style="margin-bottom:0">12%</h1>
                <p style="margin-bottom:0.5em;">implied win</p>
                <p style="margin-bottom:0;margin-top:0em;font-size:.8em;font-style:italic"><strong>1.2 ETH</strong> staked</p>
                <p style="font-size:.8em;font-style:italic">from <strong>7 accounts</strong></p>
              </div>
              <div class="rating-stars">
                <input type="text" id="tags" class="form-control" placeholder="0.0 ETH">
                <button class="btn ui-btn dark-blue">Stake</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
  <!--end listings-->

</div>


<!--footer section-->
<div class="footer">
  <div class="footer-strip">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <h3 class="footer-logo">Serv</h3>
      </div>
      <div class="col-lg-6 col-md-6">
      </div>
      <div class="col-lg-3 col-md-3">
        <p class="copyright"><i  class="fa fa-copyright"></i> 2017 - todate Ui-DesignLab</p>
      </div>
    </div>
  </div>
</div>
<!--end footer section-->

<!--pre-loader-->
<div class="preloader"><span class="beacon"></span></div>
<!--end pre-loader-->


<script src="3rdparty/js/jquery-3.2.1.min.js"></script>
<script src="3rdparty/js/popper.js"></script>
<script src="3rdparty/js/bootstrap.js"></script>
<script src="3rdparty/jquery-nice-select-1.1.0/js/jquery.nice-select.js"></script>
<script src="3rdparty/OwlCarousel2-2.2.1/owl.carousel.min.js"></script>
<script src="3rdparty/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
<script src="js/app.js"></script>
</body>
</html>