
<!DOCTYPE html>
<html lang="en">

<head>

  <!--meta tags-->
  <meta charset="UTF-8">
  <meta name="description" content="Services Listing HTML5 CSS3 template">
  <meta name="keywords" content="HTML,CSS,XML,JavaScript, services, listing">
  <meta name="author" content="Ui-DesignLab">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--end meta tags-->

  <title>Predict ETHSF</title>

  <!--stylesheets-->
  <link rel="stylesheet" href="{{ url_for('static', filename='3rdparty/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='3rdparty/font-awesome-4.7.0/css/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='3rdparty/css/animate.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='3rdparty/jquery-nice-select-1.1.0/css/nice-select.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='3rdparty/OwlCarousel2-2.2.1/owl.carousel.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='3rdparty/OwlCarousel2-2.2.1/owl.theme.green.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
  <!--end stylesheets-->

  <!--google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Quicksand:700|Raleway|Tangerine" rel="stylesheet">
  <!--end google fonts-->

</head>
<body>

<!--banner-->
<div class="landing-banner">
  <nav class="banner-menu">
    <div class="banner-logo" style="color: white;font-size: 1.3em;">Predict ETHSF</a></div>
    <div class="start-here">
      <a href="https://www.stably.io" class="btn ui-btn banner-logo" target="_blank"style="padding:0.6em">Learn More</a>
      <a href="/register" class="btn ui-btn banner-logo" target="_blank" style="padding:0.6em">Register*</a>
    </div>
  </nav>

  <div class="banner-content">
    <h1 class="banner-title">Put your ETH where your mouth is</h1>
    <em style="color:white">Welcome to Predict ETHSF, built by <a href="https://www.stably.io" target="_blank">Stably</a></em>
    <p>The premise is simple - find a team, put an ETH stake behind them, and reap the rewards if they win the hackathon. And if your team wins, you'll get a portion of the total staked ETH!</p>
    <p style="font-size:10px">*Please email mahraan@stably.io if you want to edit any information or change your project picture</p>
  </div>

</div>
<!--end banner-->

<!--connecting people-->
<div class="connect">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="connect-info">
        <h3>Payout Structure</h3>
        <ul>
          <li><strong>20%</strong>: Top 10 winners of the hackathon will get 2% each of the total staked ETH</li>
          <li><strong>80%</strong>: All accounts that put a stake in the winning teams will proprotionately split the remaining ETH</li>
        </ul>
        <br>
        <h3>How It Works</h3>
        <p>
          <strong>If you are a hackathon team:</strong> Click register on the top right of the site, and enter your project information. Make sure you have MetaMask or a similar client installed on your browser - once you hit submit, provide the Ethereum wallet address that you would like to be paid out to. If your team is announced as a winner, you will be paid out 2% of the total staked ETH!
          <br>
          <br>
          <strong>If you want to place a stake:</strong> Find a team below that you think will be among the 10 winners for the hackathon and then choose an amount of ETH you want to stake behind the project. Make sure you have MetaMask or a similar client installed on your browser, and link the Ethereum wallet address you want to use. If you chose a winning team, you will be paid out proportionately to the rest of the winners, based on the size of your stake.
        </p>
      </div>
    </div>
  </div>
</div>
<!--end connecting people-->

<div class="content-wrapper">

  <h3 class="text-center">Projects</h3>

  <!--listings-->
  <div class="listings">
    <div class="row">
      {% for n in teams_list %}
      <div class="col-lg-4 col-md-6">
        <div class="listing-item">
          <div class="cover-img">
            <img src="{{n.picture_url}}" alt="">
            <div class="cover-hover">
            </div>
          </div>
          <div class="listing-info">
            <div class="details">
              <strong>{{n.name}}</strong>
              <p>
                {{n.description}}
              </p>
                <i class="fa fa-link"></i> <em><a href="{{n.project_link}}" target="_blank">{{n.project_link}}</a></em>
            </div>
            <div class="bottom-details">
              <div class="rating-stars">
                <h1 style="margin-bottom:0">{{n.implied_win}}%</h1>
                <p style="margin-bottom:0.5em;">implied odds</p>
                <p style="margin-bottom:0;margin-top:0em;font-size:.8em;font-style:italic"><strong>{{n.total_staked_ether}} ETH</strong> staked</p>
                <p style="font-size:.8em;font-style:italic">from <strong>{{n.total_bets_made}} stakes</strong></p>
              </div>
              <div class="rating-stars">
                <input type="text" id="{{n.team_id}}-stake-value" class="form-control" placeholder="0.0 ETH">
                <button class="btn ui-btn dark-blue" id="{{n.team_id}}" data-toggle="modal" data-target="#{{n.team_id}}-modal" onClick="bet({{n.team_id}}, $('#{{n.team_id}}-stake-value').val());">Stake</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="{{n.team_id}}-modal" tabindex="-1" role="dialog" aria-labelledby="{{n.team_id}}-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="{{n.team_id}}-modal-label">Stake Confirmation</h5>
            </div>
            <div class="modal-body" id="{{n.team_id}}-modal-label">
              Confirm your ETH stake into {{n.name}} with MetaMask. It will take a few moments to update after you submit.
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
  <!--end listings-->

</div>


<!--footer section-->
<div class="footer" style="padding-top:1.8em">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <p>ETH San Francisco Hackathon</p>
      </div>
      <div class="col-lg-6 col-md-6">
      </div>
      <div class="col-lg-3 col-md-3">
        <p class="copyright"><i  class="fa fa-copyright"></i>2018 Stably Blockchain Labs, Inc.</p>
      </div>
    </div>
</div>
<!--end footer section-->

<script>
  var abi = [
    {
      "constant": true,
      "inputs": [
        {
          "name": "",
          "type": "uint256"
        }
      ],
      "name": "teamInfo",
      "outputs": [
        {
          "name": "creator",
          "type": "address"
        },
        {
          "name": "teamName",
          "type": "string"
        },
        {
          "name": "totalBet",
          "type": "uint256"
        },
        {
          "name": "numBettors",
          "type": "uint256"
        }
      ],
      "payable": false,
      "stateMutability": "view",
      "type": "function"
    },
    {
      "constant": true,
      "inputs": [],
      "name": "owner",
      "outputs": [
        {
          "name": "",
          "type": "address"
        }
      ],
      "payable": false,
      "stateMutability": "view",
      "type": "function"
    },
    {
      "constant": true,
      "inputs": [],
      "name": "minimumBet",
      "outputs": [
        {
          "name": "",
          "type": "uint256"
        }
      ],
      "payable": false,
      "stateMutability": "view",
      "type": "function"
    },
    {
      "constant": true,
      "inputs": [],
      "name": "numTeams",
      "outputs": [
        {
          "name": "",
          "type": "uint256"
        }
      ],
      "payable": false,
      "stateMutability": "view",
      "type": "function"
    },
    {
      "inputs": [],
      "payable": false,
      "stateMutability": "nonpayable",
      "type": "constructor"
    },
    {
      "payable": true,
      "stateMutability": "payable",
      "type": "fallback"
    },
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": false,
          "name": "_numteams",
          "type": "uint256"
        },
        {
          "indexed": false,
          "name": "_sender",
          "type": "address"
        },
        {
          "indexed": false,
          "name": "_teamname",
          "type": "string"
        }
      ],
      "name": "NewTeam",
      "type": "event"
    },
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": false,
          "name": "_teamindex",
          "type": "uint256"
        },
        {
          "indexed": false,
          "name": "_sender",
          "type": "address"
        },
        {
          "indexed": false,
          "name": "_value",
          "type": "uint256"
        }
      ],
      "name": "Bet",
      "type": "event"
    },
    {
      "anonymous": false,
      "inputs": [
        {
          "indexed": false,
          "name": "_winner",
          "type": "address"
        },
        {
          "indexed": false,
          "name": "_value",
          "type": "uint256"
        }
      ],
      "name": "Payout",
      "type": "event"
    },
    {
      "constant": false,
      "inputs": [],
      "name": "kill",
      "outputs": [],
      "payable": false,
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "constant": false,
      "inputs": [],
      "name": "endBetting",
      "outputs": [],
      "payable": false,
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "constant": false,
      "inputs": [
        {
          "name": "_newTeamName",
          "type": "string"
        }
      ],
      "name": "newTeam",
      "outputs": [],
      "payable": false,
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "constant": false,
      "inputs": [
        {
          "name": "teamNumber",
          "type": "uint256"
        },
        {
          "name": "_newTeamAddress",
          "type": "address"
        }
      ],
      "name": "changeTeamAddress",
      "outputs": [],
      "payable": false,
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "constant": false,
      "inputs": [
        {
          "name": "_teamSelected",
          "type": "uint256"
        }
      ],
      "name": "bet",
      "outputs": [],
      "payable": true,
      "stateMutability": "payable",
      "type": "function"
    },
    {
      "constant": false,
      "inputs": [
        {
          "name": "winningTeams",
          "type": "uint256[]"
        },
        {
          "name": "amountToWinningTeams",
          "type": "uint256"
        }
      ],
      "name": "payoutWinners",
      "outputs": [],
      "payable": false,
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "constant": false,
      "inputs": [
        {
          "name": "winningTeams",
          "type": "uint256[]"
        }
      ],
      "name": "distributePrizes",
      "outputs": [],
      "payable": false,
      "stateMutability": "nonpayable",
      "type": "function"
    },
    {
      "constant": true,
      "inputs": [
        {
          "name": "_team",
          "type": "uint256"
        }
      ],
      "name": "TeamTotalBet",
      "outputs": [
        {
          "name": "",
          "type": "uint256"
        }
      ],
      "payable": false,
      "stateMutability": "view",
      "type": "function"
    },
    {
      "constant": true,
      "inputs": [
        {
          "name": "_team",
          "type": "uint256"
        }
      ],
      "name": "TeamName",
      "outputs": [
        {
          "name": "",
          "type": "string"
        }
      ],
      "payable": false,
      "stateMutability": "view",
      "type": "function"
    },
    {
      "constant": true,
      "inputs": [
        {
          "name": "_team",
          "type": "uint256"
        }
      ],
      "name": "TeamCreator",
      "outputs": [
        {
          "name": "",
          "type": "address"
        }
      ],
      "payable": false,
      "stateMutability": "view",
      "type": "function"
    },
    {
      "constant": true,
      "inputs": [
        {
          "name": "_team",
          "type": "uint256"
        }
      ],
      "name": "TeamNumBettors",
      "outputs": [
        {
          "name": "",
          "type": "uint256"
        }
      ],
      "payable": false,
      "stateMutability": "view",
      "type": "function"
    }
  ];
  function bet(teamIndex, amountBetting) {
    if (window.ethereum) {
      window.web3 = new Web3(ethereum);

      // Load contract and address
      var predictethsf = web3.eth.contract(abi);
      var instance = predictethsf.at('0xFFe506aB67a5D7e96e8C4a25F6BE93F89020cc88')
      var address = web3.eth.accounts[0];
      var val = window.web3.toWei(amountBetting, 'ether');
      instance.bet(teamIndex, {from: address, value: val}, function(error, result){
        if(error) {
          return false;
          console.log(error)
        }
      });
      return true;
      window.location.href = "/"
    }
    else {
      window.web3 = new Web3(web3.currentProvider);

      // Load contract and address
      var predictethsf = web3.eth.contract(abi);
      var instance = predictethsf.at(0xFFe506aB67a5D7e96e8C4a25F6BE93F89020cc88);
      var address = web3.eth.accounts[0];
      var val = window.web3.toWei(amountBetting, 'ether');
      instance.bet(teamIndex, {from: address, value: val}, function(error, result){
        if(error) {
          return false;
        }
      });
      return true;
      window.location.href = "/"
    }
  }
</script>
<script src="{{ url_for('static', filename='3rdparty/js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='3rdparty/js/popper.js') }}"></script>
<script src="{{ url_for('static', filename='3rdparty/js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='3rdparty/jquery-nice-select-1.1.0/js/jquery.nice-select.js') }}"></script>
<script src="{{ url_for('static', filename='3rdparty/OwlCarousel2-2.2.1/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename='3rdparty/perfect-scrollbar/js/perfect-scrollbar.jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>
</html>
