<!DOCTYPE html>
<html lang="en">
<head>

    <!--meta tags-->

    <meta charset="UTF-8">
    <meta name="description" content="Services Listing HTML5 CSS3 template">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript, services, listing">
    <meta name="author" content="Ui-DesignLab">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--end meta tags-->

    <title>Serv</title>

    <!--stylesheets-->

    <link rel="stylesheet" href="3rdparty/css/bootstrap.min.css">
    <link rel="stylesheet" href="3rdparty/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="3rdparty/css/animate.min.css">
    <link rel="stylesheet" href="3rdparty/jquery-nice-select-1.1.0/css/nice-select.css">
    <link rel="stylesheet" href="3rdparty/OwlCarousel2-2.2.1/owl.carousel.min.css">
    <link rel="stylesheet" href="3rdparty/OwlCarousel2-2.2.1/owl.theme.green.min.css">
    <link rel="stylesheet" href="3rdparty/perfect-scrollbar/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="css/app.css">

    <!--end stylesheets-->

    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:700|Raleway|Tangerine" rel="stylesheet">

    <!--end google fonts-->

</head>
<body>


<!-- Login/register Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">My Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="auth-wrapper">
                    <div class="form-tabs">
                        <a href="#" data-frm="login-frm" class="tab active">Login</a>
                        <a href="#" data-frm="register-frm" class="tab">Register</a>
                    </div>
                    <form class="login-frm frm" action="#" method="post">
                        <div class="form-group">
                            <label for="email1">Email:</label>
                            <input type="email" required name="email" autocomplete="email" id="email1">
                        </div>
                        <div class="form-group">
                            <label for="pass1">Password:</label>
                            <input type="password" required name="password" id="pass1">
                        </div>
                        <div class="remember-me">
                            <div>
                                <input type="checkbox" id="test1" />
                                <label for="test1">Remember Me</label>
                            </div>
                            <a href="#">Forgot Password?</a>
                        </div>
                        <div class="sub-btn">
                            <input type="submit" class="btn ui-btn info" value="SIGN IN">
                        </div>
                    </form>
                    <form class="register-frm frm hide" action="#" method="post">
                        <div class="form-group">
                            <label for="email2">Email:</label>
                            <input type="email" required name="email" autocomplete="email" id="email2">
                        </div>
                        <div class="form-group">
                            <label for="pass3">Password:</label>
                            <input type="password" required name="password" id="pass3">
                        </div>
                        <div class="form-group">
                            <label for="pass2">Confirm Password:</label>
                            <input type="password" required name="password" id="pass2">
                        </div>
                        <div class="sub-btn">
                            <input type="submit" class="btn ui-btn info" value="REGISTER">
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<!-- end Login/register Modal -->

<!--customize feed modal-->

<div class="modal fade" id="feedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tell us what you want</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" class="user-feed">
                    <input type="checkbox" id="web">
                    <label for="web" class="chip">
                        web design
                    </label>
                    <input type="checkbox" checked id="design">
                    <label for="design" class="chip">
                        graphic design
                    </label>
                    <input type="checkbox" id="band">
                    <label for="band" class="chip">
                        music band
                    </label>
                    <input type="checkbox" id="tt">
                    <label for="tt" class="chip">
                        tutor
                    </label>
                    <input type="checkbox" id="clean">
                    <label for="clean" class="chip">
                        cleaning services
                    </label>
                    <input type="checkbox" id="taxi">
                    <label for="taxi" class="chip">
                        taxi services
                    </label>
                    <input type="submit" class="btn ui-btn dark-blue text-white" value="Done">
                </form>
            </div>
        </div>
    </div>
</div>

<!--end customize feed modal-->

<div class="content-wrapper">

    <!--banner-->
    <div class="listings-banner">
        <div class="select-fields">
            <div class="sel">
                <select title="Service" class="wide">
                    <option selected >Select Service</option>
                    <option data-display="Select">Web Designer</option>
                    <option value="1">Chef</option>
                    <option value="2">Tax Driver</option>
                    <option value="3" disabled>Electrician</option>
                    <option value="4">Cleaner</option>
                </select>
            </div>
            <div class="sel">
                <select title="Service" class="wide">
                    <option selected >Select City</option>
                    <option data-display="Select">New York</option>
                    <option value="1">Miami</option>
                    <option value="2">London</option>
                    <option value="3" disabled>Washington</option>
                    <option value="4">Paris</option>
                </select>
            </div>
            <button class="btn ui-btn dark-blue">Start Now</button>
        </div>
    </div>
    <!--end banner-->

    <!--switcher-->
    <div class="switcher">
        <div><h6>Grid Layout V1</h6></div>
        <div>
            <em>Customize Your Feed</em>&#8195;
            <a href="#" data-toggle="modal" data-target="#feedModal"><i class="fa fa-sliders"></i></a>
            <a href="#" class="active"><i class="fa fa-th"></i></a>
            <a href="listing_two.html"><i class="fa fa-list"></i></a>
            <a href="index.html"><i class="fa fa-home"></i></a>
        </div>
    </div>
    <!--end switcher-->

    <!--listings-->
    <div class="listings">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="listing-item">
                    <div class="cover-img">
                        <img src="img/500x281.png" alt="">
                        <div class="cover-hover">
                           <div class="share-like">
                               <a href="#" title="Like"><i class="fa fa-heart-o"></i></a>
                               <a href="#" title="Share"><i class="fa fa-share-alt"></i></a>
                               <a href="#" title="Bookmark"><i class="fa fa-bookmark-o"></i></a>
                           </div>
                        </div>
                    </div>
                    <div class="listing-info">
                        <div class="details">
                            <div class="user-pic">
                                <img src="img/user.png" alt="">
                            </div>
                            <strong>Nancy Mackenzie -></strong>
                            <span>Chef</span>
                            <p>
                                Vice eiusmod authentic forage mustache try-hard proident
                                aesthetic...
                            </p>
                                <i class="fa fa-map-marker text-info"></i> <em>New York City</em>
                        </div>
                        <div class="bottom-details">
                            <div class="rating-stars">
                                <i class="fa fa-star yel"></i>
                                <i class="fa fa-star yel"></i>
                                <i class="fa fa-star yel"></i>
                                <i class="fa fa-star-half-empty"></i>
                                <i class="fa fa-star-o yel"></i>
                                <span>(4.4/345 Reviews)</span>
                            </div>
                            <a href="listingdetail.html">View <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="listing-item">
                    <div class="cover-img">
                        <img src="img/500x281.png" alt="">
                        <div class="cover-hover">
                           <div class="share-like">
                               <a href="#" title="Like"><i class="fa fa-heart-o"></i></a>
                               <a href="#" title="Share"><i class="fa fa-share-alt"></i></a>
                               <a href="#" title="Bookmark"><i class="fa fa-bookmark-o"></i></a>
                           </div>
                        </div>
                    </div>
                    <div class="listing-info">
                        <div class="details">
                            <div class="user-pic">
                                <img src="img/user.png" alt="">
                            </div>
                            <strong>Carol Mitch -></strong>
                            <span>Photographer</span>
                            <p>
                                Vice eiusmod authentic forage mustache try-hard proident
                                aesthetic...
                            </p>
                            <i class="fa fa-map-marker text-info"></i> <em>Mystic Falls</em>
                        </div>
                        <div class="bottom-details">
                            <div class="rating-stars">
                                <i class="fa fa-star yel"></i>
                                <i class="fa fa-star yel"></i>
                                <i class="fa fa-star yel"></i>
                                <i class="fa fa-star-half-empty"></i>
                                <i class="fa fa-star-o yel"></i>
                                <span>(4.4/345 Reviews)</span>
                            </div>
                            <a href="listingdetail.html">View <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="listing-item">
                    <div class="cover-img">
                        <img src="img/500x281.png" alt="">
                        <div class="cover-hover">
                           <div class="share-like">
                               <a href="#" title="Like"><i class="fa fa-heart-o"></i></a>
                               <a href="#" title="Share"><i class="fa fa-share-alt"></i></a>
                               <a href="#" title="Bookmark"><i class="fa fa-bookmark-o"></i></a>
                           </div>
                        </div>
                    </div>
                    <div class="listing-info">
                        <div class="details">
                            <div class="user-pic">
                                <img src="img/user.png" alt="">
                            </div>
                            <strong>Megan Verly -></strong>
                            <span>Fruit Supplier</span>
                            <p>
                                Vice eiusmod authentic forage mustache try-hard proident
                                aesthetic...
                            </p>
                            <i class="fa fa-map-marker text-info"></i> <em>New Orleans</em>
                        </div>
                        <div class="bottom-details">
                            <div class="rating-stars">
                                <i class="fa fa-star yel"></i>
                                <i class="fa fa-star yel"></i>
                                <i class="fa fa-star yel"></i>
                                <i class="fa fa-star-half-empty"></i>
                                <i class="fa fa-star-o yel"></i>
                                <span>(4.7/147 Reviews)</span>
                            </div>
                            <a href="listingdetail.html">View <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="listing-item">
                    <div class="cover-img">
                        <img src="img/500x281.png" alt="">
                        <div class="cover-hover">
                           <div class="share-like">
                               <a href="#" title="Like"><i class="fa fa-heart-o"></i></a>
                               <a href="#" title="Share"><i class="fa fa-share-alt"></i></a>
                               <a href="#" title="Bookmark"><i class="fa fa-bookmark-o"></i></a>
                           </div>
                        </div>
                    </div>
                    <div class="listing-info">
                        <div class="details">
                            <div class="user-pic">
                                <img src="img/user.png" alt="">
                            </div>
                            <strong>Jennifer Liz -></strong>
                            <span>Uber Driver</span>
                            <p>
                                Vice eiusmod authentic forage mustache try-hard proident
                                aesthetic...
                            </p>
                            <i class="fa fa-map-marker text-info"></i> <em>Los Angeles</em>
                        </div>
                        <div class="bottom-details">
                            <div class="rating-stars">
                                <i class="fa fa-star yel"></i>
                                <i class="fa fa-star yel"></i>
                                <i class="fa fa-star yel"></i>
                                <i class="fa fa-star-half-empty"></i>
                                <i class="fa fa-star-o yel"></i>
                                <span>(4.5/210 Reviews)</span>
                            </div>
                            <a href="listingdetail.html">View <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="listing-item">
                    <div class="cover-img">
                        <img src="img/500x281.png" alt="">
                        <div class="cover-hover">
                            <div class="share-like">
                                <a href="#" title="Like"><i class="fa fa-heart-o"></i></a>
                                <a href="#" title="Share"><i class="fa fa-share-alt"></i></a>
                                <a href="#" title="Bookmark"><i class="fa fa-bookmark-o"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="listing-info">
                        <div class="details">
                            <div class="user-pic">
                                <img src="img/user.png" alt="">
                            </div>
                            <strong>Trevor Jelo -></strong>
                            <span>Plumber</span>
                            <p>
                                Vice eiusmod authentic forage mustache try-hard proident
                                aesthetic...
                            </p>
                            <i class="fa fa-map-marker text-info"></i> <em>Texas</em>
                        </div>
                        <div class="bottom-details">
                            <div class="rating-stars">
                                <i class="fa fa-star yel"></i>
                                <i class="fa fa-star yel"></i>
                                <i class="fa fa-star yel"></i>
                                <i class="fa fa-star-half-empty"></i>
                                <i class="fa fa-star-o yel"></i>
                                <span>(4.4/345 Reviews)</span>
                            </div>
                            <a href="listingdetail.html">View <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-pagination">
            <a href="#" class="page"><i class="fa fa-angle-left"></i></a>
            <a href="#" class="page">1</a>
            <a href="#" class="page info text-white">2</a>
            <a href="#" class="page">3</a>
            <a href="#" class="page">4</a>
            <a href="#" class="page"><i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    <!--end listings-->

</div>

<!--footer section-->
<div class="footer">
    <div class="row">
        <div class="col-lg-2 col-md-6">
            <div class="footer-sec">
                <h6>Who We Are</h6>
                <a href="#">About Us</a>
                <a href="#">Careers</a>
                <a href="#">Feature Tour</a>
                <a href="#">Presentation</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="footer-sec">
                <h6>Support</h6>
                <a href="#">Knowledge Base</a>
                <a href="#">Video Guides</a>
                <a href="#">Report an Issue</a>
                <a href="#">Terms of Use</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="footer-sec">
                <h6>Contact Us</h6>
                <a href="mailto:someone@example.com">someone@example.com</a>
                <span>10100 thuy NY</span>
                <span>+1 285 6658 5476215</span>
                <div class="footer-social">
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-facebook-f"></i>
                    <i class="fa fa-rss"></i>
                    <i class="fa fa-linkedin"></i>
                    <i class="fa fa-google-plus"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="footer-sec">
                <h6>News Letter</h6>
                <span>Subscribe to our newsletter and getter some cool staff every week.</span>
                <form action="/" method="post">
                    <input type="email" required placeholder="Your Email Here">
                    <button type="submit" class="btn ui-btn dark-blue"><i class="fa fa-send-o"></i></button>
                </form>
            </div>
        </div>
    </div>
    <div class="footer-strip">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <h3 class="footer-logo">Serv</h3>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav>
                    <a href="#">Apps</a>
                    <a href="#">Science</a>
                    <a href="#">Services</a>
                    <a href="#">Nature</a>
                    <a href="#">Creative</a>
                    <a href="#">Search</a>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <p class="copyright"><i  class="fa fa-copyright"></i> 2017 - todate Ui-DesignLab</p>
            </div>
        </div>
    </div>
</div>
<!--end footer section-->

<!--pre-loader-->
<div class="preloader"><span class="beacon"></span></div>
<!--end pre-loader-->

<script src="3rdparty/js/jquery-3.2.1.min.js"></script>
<script src="3rdparty/js/popper.js"></script>
<script src="3rdparty/js/bootstrap.js"></script>
<script src="3rdparty/jquery-nice-select-1.1.0/js/jquery.nice-select.js"></script>
<script src="3rdparty/OwlCarousel2-2.2.1/owl.carousel.min.js"></script>
<script src="3rdparty/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
<script src="js/app.js"></script>
</body>
</html>