
<!DOCTYPE html>
<html lang="en">
<head>

  <!--meta tags-->

  <meta charset="UTF-8">
  <meta name="description" content="Services Listing HTML5 CSS3 template">
  <meta name="keywords" content="HTML,CSS,XML,JavaScript, services, listing">
  <meta name="author" content="Ui-DesignLab">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--end meta tags-->

  <title>Registration - Predict ETHSF</title>

  <!--stylesheets-->
  <link rel="stylesheet" href="{{ url_for('static', filename='3rdparty/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='3rdparty/font-awesome-4.7.0/css/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='3rdparty/css/animate.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='3rdparty/jquery-nice-select-1.1.0/css/nice-select.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='3rdparty/OwlCarousel2-2.2.1/owl.carousel.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='3rdparty/OwlCarousel2-2.2.1/owl.theme.green.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
  <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

  <!--end stylesheets-->

  <!--google fonts-->

  <link href="https://fonts.googleapis.com/css?family=Quicksand:700|Raleway|Tangerine" rel="stylesheet">

  <!--end google fonts-->


</head>
<body>

<!--dashboard content-->
<div>
  <div>
    <div>
      <form action="" method="post" id="registration" class="row">
        <div class="col-lg-12">
          <div class="top-part"><strong>Register Your Team</strong></div>
          <div class="form-info">
            <div class="form-group">
              <label for="title">Project title</label>
              <input name="title" type="text" id="title" class="form-control">
            </div>
            <div class="form-group">
              <label for="title">Project link</label>
              <input name="link" type="text" id="link" class="form-control">
            </div>
            <div class="form-group">
              <label for="title">Project screenshot <small>(must be an image link)</small></label>
              <input name="url" type="text" id="url" class="form-control">
            </div>
            <div class="form-group">
              <label for="desc">Description</label>
              <textarea name="description" id="description" rows="2" placeholder="Max 140 characters"></textarea>
            </div>
            <hr>
            <input name="address" id="address" type="text" class="form-control" style="display:none">
            <input name="team_id" id="team_id" type="text" class="form-control" style="display:none">
            <button type="submit" class="btn ui-btn dark-blue">Submit</i></button>
          </div>
        </div>
      </form>
    </div>
    <!--end add listing-->

  </div>
</div>
<!--end dashboard content-->


<script>
var abi = [
  {
    "constant": true,
    "inputs": [
      {
        "name": "",
        "type": "uint256"
      }
    ],
    "name": "teamInfo",
    "outputs": [
      {
        "name": "creator",
        "type": "address"
      },
      {
        "name": "teamName",
        "type": "string"
      },
      {
        "name": "totalBet",
        "type": "uint256"
      },
      {
        "name": "numBettors",
        "type": "uint256"
      }
    ],
    "payable": false,
    "stateMutability": "view",
    "type": "function"
  },
  {
    "constant": true,
    "inputs": [],
    "name": "owner",
    "outputs": [
      {
        "name": "",
        "type": "address"
      }
    ],
    "payable": false,
    "stateMutability": "view",
    "type": "function"
  },
  {
    "constant": true,
    "inputs": [],
    "name": "minimumBet",
    "outputs": [
      {
        "name": "",
        "type": "uint256"
      }
    ],
    "payable": false,
    "stateMutability": "view",
    "type": "function"
  },
  {
    "constant": true,
    "inputs": [],
    "name": "numTeams",
    "outputs": [
      {
        "name": "",
        "type": "uint256"
      }
    ],
    "payable": false,
    "stateMutability": "view",
    "type": "function"
  },
  {
    "inputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "constructor"
  },
  {
    "payable": true,
    "stateMutability": "payable",
    "type": "fallback"
  },
  {
    "anonymous": false,
    "inputs": [
      {
        "indexed": false,
        "name": "_numteams",
        "type": "uint256"
      },
      {
        "indexed": false,
        "name": "_sender",
        "type": "address"
      },
      {
        "indexed": false,
        "name": "_teamname",
        "type": "string"
      }
    ],
    "name": "NewTeam",
    "type": "event"
  },
  {
    "anonymous": false,
    "inputs": [
      {
        "indexed": false,
        "name": "_teamindex",
        "type": "uint256"
      },
      {
        "indexed": false,
        "name": "_sender",
        "type": "address"
      },
      {
        "indexed": false,
        "name": "_value",
        "type": "uint256"
      }
    ],
    "name": "Bet",
    "type": "event"
  },
  {
    "anonymous": false,
    "inputs": [
      {
        "indexed": false,
        "name": "_winner",
        "type": "address"
      },
      {
        "indexed": false,
        "name": "_value",
        "type": "uint256"
      }
    ],
    "name": "Payout",
    "type": "event"
  },
  {
    "constant": false,
    "inputs": [],
    "name": "kill",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [
      {
        "name": "_newTeamName",
        "type": "string"
      }
    ],
    "name": "newTeam",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [
      {
        "name": "_teamSelected",
        "type": "uint256"
      }
    ],
    "name": "bet",
    "outputs": [],
    "payable": true,
    "stateMutability": "payable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [
      {
        "name": "winningTeams",
        "type": "uint256[]"
      }
    ],
    "name": "distributePrizes",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": true,
    "inputs": [
      {
        "name": "_team",
        "type": "uint256"
      }
    ],
    "name": "TeamTotalBet",
    "outputs": [
      {
        "name": "",
        "type": "uint256"
      }
    ],
    "payable": false,
    "stateMutability": "view",
    "type": "function"
  },
  {
    "constant": true,
    "inputs": [
      {
        "name": "_team",
        "type": "uint256"
      }
    ],
    "name": "TeamName",
    "outputs": [
      {
        "name": "",
        "type": "string"
      }
    ],
    "payable": false,
    "stateMutability": "view",
    "type": "function"
  },
  {
    "constant": true,
    "inputs": [
      {
        "name": "_team",
        "type": "uint256"
      }
    ],
    "name": "TeamCreator",
    "outputs": [
      {
        "name": "",
        "type": "address"
      }
    ],
    "payable": false,
    "stateMutability": "view",
    "type": "function"
  },
  {
    "constant": true,
    "inputs": [
      {
        "name": "_team",
        "type": "uint256"
      }
    ],
    "name": "TeamNumBettors",
    "outputs": [
      {
        "name": "",
        "type": "uint256"
      }
    ],
    "payable": false,
    "stateMutability": "view",
    "type": "function"
  }]
  
  function createTeam(name) {
    if (window.ethereum) {
        window.web3 = new Web3(ethereum);
    } else {
        window.web3 = new Web3(web3.currentProvider);
    }
      // Load contract and address
      var predictethsf = web3.eth.contract(abi);
      var network = web3.version.network;
      var contract_address;
      if (network == "42") { // Kovan
        contract_address = '0x3F2D75C704b9A41B0cAE0759D22c93c9FF6F01D8';
      }
      if (network == "1") { //Mainnet
        contract_address = '';
      }
      var instance = predictethsf.at(contract_address)
      var address = web3.eth.accounts[0];
      instance.newTeam(name, {from: address}, function(error, result){
        if(error) {
          return false;
        }
      });
      instance.methods.numTeams().call((error, result) => {
        return address, result;
      });
      return false;
  }

  $("button").click(function(){
    title_val = $("#title").val();
    address_val, team_id_val = createTeam(title_val);
    $("#address").val(address_val);
    $("#team_id").val(team_id_val);
    form_data = $('form').serializeArray();
    $.post("/register", form_data, function(data, status){
      alert("Data: " + data + "\nStatus: " + status);
    });
});
</script>

<script src="{{ url_for('static', filename='3rdparty/js/jquery.ui.widget.js') }}"></script>
<script src="{{ url_for('static', filename='3rdparty/js/jquery.iframe-transport.js') }}"></script>
<script src="{{ url_for('static', filename='3rdparty/js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='3rdparty/js/popper.js') }}"></script>
<script src="{{ url_for('static', filename='3rdparty/js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='3rdparty/jquery-nice-select-1.1.0/js/jquery.nice-select.js') }}"></script>
<script src="{{ url_for('static', filename='3rdparty/OwlCarousel2-2.2.1/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename='3rdparty/perfect-scrollbar/js/perfect-scrollbar.jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<script src="{{ url_for('static', filename='js/fileselect.js') }}"></script>

</body>
</html>